.available-order-container{
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 2%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #404040;
  border-bottom: 1px solid #1D1E18;
  display: flex;
  justify-content: space-between;
}
.take-order-button{
  margin-bottom: 1%;
  margin-right: 1%;
  background-color: #B18C38;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  padding: 10px 20px 10px 20px;
  transition: 1s background-color ease;
}
.take-order-button:hover{
  background-color: #38b154;
}
