<div class="navbar-styles">
  <div class="left-container">
    <img src="/assets/logo.png" alt="logo">
  </div>
  <div class="right-container">
    <button class="button-styles button-font-styles">
      Home
    </button>
    <button class="button-styles button-font-styles">
      Service
    </button>
    <button class="button-styles button-font-styles">
      About us
    </button>
    <button class="login-button button-font-styles" routerLink="/login">
      Sign in
    </button>
  </div>
</div>
