.request-container{
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #FFFFFF;
  margin-left: 5%;
  border-bottom: 2px solid #FFFFFF;
  margin-right: 5%;
}
.form-settings-styles{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form-settings-styles p{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: #FFFFFF;
}
.form-settings-styles input{
  width: 40%;
  border: none;
  padding: 10px 20px 10px 10px;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
}

.form-settings-styles button{
  width: 29%;
  border: none;
  padding: 10px 20px 10px 10px;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-top: 2%;
  margin-left: 7%;
  margin-bottom: 2%;
}
