.map-container{
  width: 100%;
  padding-left: 2%;
}
.search-container input{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #404040;
  border: 1px solid #404040;
  border-radius: 10px;
  padding: 10px 0 10px 10px;
  outline: none;
  width: 70%;
}
.search-container button{
  margin: 2% 0 0 2%;
  width: 20%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #B18C38;
  border: none;
  border-radius: 10px;
  height: 40px;
}
.outside-container{
  display: flex;
  margin: 1% 2% 1% 2%;
}
.left-container{
  flex: 1;
}
.right-container{
  flex: 1;
}
.price-container{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #1D1E18;
  border-bottom: 1px #404040 solid;
  padding-left: 2%;
}
.button-container{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-container button{
  width: 20%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #B18C38;
  border: none;
  border-radius: 10px;
  height: 40px;
}
.button-container p{
  color: #b13842;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.waiting-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #404040;
}
.newtons-cradle {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: #474554;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
}

.newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
}

.newtons-cradle__dot::after {
  content: '';
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}
.order-container{
  margin-top: 2%;
  margin-left: 5%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.order-container h1{
  justify-self: center;
  align-self: center;
}
.cancel-order-button{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: #B18C38;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  width: 10%;
  padding: 10px 20px 10px 20px;
  transition: background-color 0.5s ease;

}
.cancel-order-button:hover {
  background-color: #b13842;
}
.driver-details {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #FFFFFF;
  position: absolute;
  background-color: #B18C38;
  border: none;
  padding: 10px;
  z-index: 9999;
  margin-top: 42%;
  margin-left: 15%;
}
.comments-container p{
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
}
