<app-navbar></app-navbar>
<div class="map-container">
  <google-map [center]="center" [zoom]="zoom" width="96%">
    @if (directionsResults$ | async;as directionsResults) {
      <map-directions-renderer [directions]="directionsResults"/>
    }
  </google-map>
</div>

<div *ngIf="noGeo" class="no-geo-container">
  <h1>
    Please allow the geolocation in browser
  </h1>
</div>

<div *ngIf="!searchingForDriver && !noGeo">
  <div class="outside-container">
    <div class="left-container">
      <div class="search-container">
        <input type="text" [(ngModel)]="destinationAddress">
        <button type="submit" (click)="search()">
          Search
        </button>
      </div>
      <div class="addresses_container">
        <div *ngIf="addresses">
          <ng-container *ngFor="let address of addresses">
            <app-address-container [address]="address" (idClicked)="handleIdClicked($event)"></app-address-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="right-container">
      <div *ngIf="price != 0" class="price-container">
        <p>
          Price:    {{ price | currency: "UAH " }}
        </p>
      </div>
      <div class="button-container">
        <button (click)="orderTaxi()">
          Order
        </button>
        <p *appNotEnoughBalance="enoughBalance" class="not-enough-balance">Not enough balance to order</p>
        <p>Add a comment to your trip:</p>
        <input type="text" [(ngModel)]="description">
      </div>
    </div>
  </div>
</div>

<div *ngIf="searchingForDriver">
  <div class="waiting-container" *ngIf="!foundDriver">
    <h1>Searching for driver</h1>
      <div class="newtons-cradle">
        <div class="newtons-cradle__dot"></div>
        <div class="newtons-cradle__dot"></div>
        <div class="newtons-cradle__dot"></div>
        <div class="newtons-cradle__dot"></div>
      </div>
    <button class="cancel-order-button" (click)="cancelOrder()">
      Cancel order
    </button>
  </div>
  <div *ngIf="foundDriver" class="order-container">
    <h1 *ngIf="driver.arrived">Driver arrived!</h1>
    <p>
      From: {{startAddress}}
    </p>
    <p>
      To: {{destinationAddress}}
    </p>
    <p (mouseenter)="showDriverDetails = true" (mouseleave)="showDriverDetails = false">
      Your driver: {{ driver.name }}
    </p>
    <p>
      Phone: {{ driver.surname }}
    </p>
    <p>
      Car number: {{ driver.licensePlate }}
    </p>
    <button class="cancel-order-button" (click)="cancelOrder()">
      Cancel order
    </button>
  </div>
</div>

<div *ngIf="showDriverDetails"
     [style.left]="mousePosition.x + 'px'" [style.top]="mousePosition.y + 'px'"
     class="driver-details">
  <p>
    Driver: {{driver.name}}
  </p>
  <p>
    Trips count: {{driverRating.tripsCount}}
  </p>
  <p>
    Rating: {{driverRating.rating}}
  </p>
  <p>
    Reviews:
  </p>
  <div class="comments-container">
    <ng-container *ngFor="let review of driverRating.reviews; let i = index">
      <p *ngIf="i < 3">
        {{ review.comment }}
      </p>
    </ng-container>
  </div>
</div>
