<app-navbar></app-navbar>

<div class="map-container">
  <google-map [center]="center" [zoom]="zoom" width="96%">
    @if (directionsResults$ | async;as directionsResults) {
      <map-directions-renderer [directions]="directionsResults"/>
    }
  </google-map>
</div>
<div class="outside-container">
  <div class="left-container">
    <div class="search-container">
      <input type="text" [(ngModel)]="destinationAddress">
      <button type="submit" (click)="search()">
        Search
      </button>
    </div>
    <div class="addresses_container">
      <div *ngIf="addresses">
        <ng-container *ngFor="let address of addresses">
          <app-address-container [address]="address" (idClicked)="handleIdClicked($event)"></app-address-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="right-container">
    <div *ngIf="price != 0" class="price-container">
      <p>
        Economy:    {{ price | currency: "UAH "}}
      </p>
    </div>
    <div class="button-container">
      <button (click)="orderTaxi()">
        Order
      </button>
    </div>
  </div>
</div>
