.outside-container{
  background-color: #FFFFFF;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
.inside-container{
  background-color: #F6BD60;
  width: 40%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inside-container img{
  width: 480px;
  height: 160px;
  align-self: center;
}
.form-styles{
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.form-styles h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #1D1E18;
  text-align: center;
}
.form-styles input{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  border: none;
  background-color: #F6BD60;
  font-size: 20px;
  color: #1D1E18;
  border-bottom: 2px solid #1D1E18;
  padding-bottom: 5px;
  outline: none;
}
.form-styles button{
  width: 50%;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #1D1E18;
  transition: background-color 0.3s;
  border: none;
  border-radius: 50px;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 2%;
  align-self: center;
}
#login_button:hover{
  color: #F6BD60;
  background-color: #FFFFFF;
}
.register_container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #1D1E18;
}
.register_container a{
  margin-left: 2%;
}
#signup_button:hover{
  color: #F6BD60;
  background-color: #FFFFFF;
}
