<div class="outside-container">
  <div class="inside-container">
    <img src="assets/logo_black.png" alt="logo">
    <form class="form-styles" [formGroup]="form" (ngSubmit)="sighUp()">
      <h2>Sign up</h2>
      <input type="text" placeholder="Name:" formControlName="name" autofocus>
      <input type="text" placeholder="Email:" formControlName="email">
      <input type="text" placeholder="Phone:" formControlName="phone">
      <input type="password" placeholder="Password:" formControlName="password">
      <div class="register_container">
        <p>Want to sign up as a driver?</p>
        <a (click)="regAsADriver()">Click</a>
      </div>
      <button *ngIf="driver" id="login_button" type="submit">Sign up as a driver</button>
      <button *ngIf="!driver" id="signup_button" type="submit">Sign up as a customer</button>
      <div class="register_container">
        <p>Already have an account?</p>
        <a routerLink="/login">Sign in</a>
      </div>
    </form>
  </div>
</div>
