<div class="outside-container">
  <div class="inside-container">
    <img src="assets/logo_black.png" alt="logo">
    <form class="form-styles" [formGroup]="form" (ngSubmit)="login()">
      <h2>Sign in </h2>
      <input type="text" placeholder="Email:" formControlName="username" autofocus>
      <input type="password" placeholder="Password:" formControlName="password">
      <button id="login_button" type="submit">Sign in</button>
      <div class="register_container">
        <p>Dont have an account?</p>
        <a routerLink="/register">Sign up</a>
      </div>
    </form>
  </div>
</div>
